body {
	margin: 1;
}

div.math, div.chem, div.elective, div.ecor, div.phys, div.biol, div.sysc, div.elec, div.ccdp {
	width: 100px;
	height: 120px;
	font-size: 9pt;
	text-align: center;
	border-width: 3px;
	border-style: solid;
	margin-bottom: 5px;
}

div.math {
	border-color: green;
}

div.biol, div.chem, div.phys {
	border-color: yellow;
}

div.elective {
	border-color: gray;
}

div.ecor, div.ccdp {
	border-color: black;
}

div.sysc {
	border-color: purple;
}

div.elec {
	border-color: orange;
}

p.semesterHeader {
	margin-left: 39px; 
	font-weight: bold;
}
