html, body { 
	margin: 0; 
	padding: 0; 
}

div.math, div.chem, div.elective, div.ecor, div.phys, div.biol, div.sysc, div.elec, div.ccdp, div.comp {
	width: 85px;
	height: 90px;
	cursor: move;
	background-color: white;
	font-size: 7.5pt;
	text-align: center;
	border-width: 3px;
	border-style: solid;
	margin-bottom: 2.5px;
}

div.math {
	border-color: green;
}

div.biol, div.chem, div.phys, div.comp {
	border-color: yellow;
}

div.elective {
	border-color: gray;
}

div.ecor, div.ccdp {
	border-color: black;
}

div.sysc {
	border-color: purple;
}

div.elec {
	border-color: orange;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

div[class~="col"] {
	margin: 0;
	flex-grow: 0;
}

.semesterHeader {
	margin-left: 22px; 
	font-weight: bold;
}

.hiddable {
	margin-bottom: 15px;
	cursor: pointer;

}

.hiddable:hover {
	color: red;
}

.hiddable span {
	cursor: pointer;
}

.col.ml-0.hidden {
	width: 2px;
	margin: 0px;
}

div.closed {
	display: none;
}

div.hidden .hiddable span {
	display: none;
}

div.hidden button {
	display: none;
}

div.hidden .semesterHeader {
	margin: 0;
	width: 0px;
}

div.hidden .hiddable::before {
	content: "\25BC";
	width: 30px;
	cursor: pointer;
	position: relative;
	right: 7.5px;
	top: 30px;
}

button {
	width: 100px;
	cursor: pointer;
	font-size: 4pt;
	text-wrap: wrap;
}

button.inserter, button.selected {
	width: 50px;
	height: 20px;
	margin-top: 2px;
	border-radius: 2px;
	font-size: 6pt;
}

button.inserter {
	background-color: red;
	color: white;
}

button.selected {
	background-color: gray;
	color: black;
}

button.closer {
	background-color: #CC0000;
	color: white;
	width: 30px;
	height: 25px;
	border-radius: 2px;
	border-width: 0;
	position: absolute;
	top: 0;
	right: 0;
	font-family: "Monosten", sans-serif;
}

#infoBox {
	box-shadow: -10px 0px 30px gray; 
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	z-index: 1;
}

div.controls, div.controls pre {
	color: #007bff;
}

div.controls a, div.controls p {
	text-decoration: underline;
	cursor: pointer;
}

div.controls a:hover, div.controls p:hover {
	text-decoration: none;
}
