<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Degree Program Portal</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">       
    </head>
    <body>
        <div class="col-12" id="mainContent">
            <h4>{{ title }}</h4>
            <br />    
            <div class="row" style="margin-left: 1vw; margin-right: 1vw;">
                <div class="col ml-0 pl-0 pr-0" id="2020F" ondrop="drop(event)" ondragover="allowDrop(event)">   
                    <button id="btn1F", style="visibility: hidden;">Load</button>
                    <p class="semesterHeader">2020F</p>
                {% for i in range(len(courses)) %}
                {% if courses[i].semester == "1F" %}
                    <div class="{{ courses[i]['course_code'].split()[0].lower() }}" id="{{ courses[i]['course_code'].split()[0].lower() ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ courses[i]['course_code'] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ courses[i]['course_title'] }}</p>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="col ml-0 pl-0 pr-0" id="2021W" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <button id="btn1W", style="visibility: hidden;">Load</button>
                    <p class="semesterHeader">2021W</p>  
                {% for i in range(len(courses)) %}
                {% if courses[i].semester == "1W" %}
                    <div class="{{ courses[i]['course_code'].split()[0].lower() }}" id="{{ courses[i]['course_code'].split()[0].lower() ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ courses[i]['course_code'] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ courses[i]['course_title'] }}</p>
                    </div>
                {% endif %}
                {% endfor %}
                </div>           
                <div class="col ml-0 hidden" id="2021S" style="flex-grow: 0">
                    <button id="btn1F", onclick="handleLoadRequest(this.id)">Load</button>
                    <div class="semesterHeader hiddable" id="2021SHeader" onclick="hide(this.id)">
                        <span>2021S</span>
                    </div>            
                </div>
                <div class="col ml-0 pl-0 pr-0" id="2021F" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <button id="btn2F", onclick="handleLoadRequest(this.id)">Load</button>
                    <p class="semesterHeader">2021F</p>
                {% for i in range(len(courses)) %}
                {% if courses[i].semester == "2F" %}
                    <div class="{{ courses[i]['course_code'].split()[0].lower() }}" id="{{ courses[i]['course_code'].split()[0].lower() ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ courses[i]['course_code'] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ courses[i]['course_title'] }}</p>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="col ml-0 pl-0 pr-0" id="2022W" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <button id="btn2W", onclick="handleLoadRequest(this.id)">Load</button>
                    <p class="semesterHeader">2022W</p>                
                {% for i in range(len(courses)) %}
                {% if courses[i].semester == "2W" %}
                    <div class="{{ courses[i]['course_code'].split()[0].lower() }}" id="{{ courses[i]['course_code'].split()[0].lower() ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ courses[i]['course_code'] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ courses[i]['course_title'] }}</p>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="col ml-0 hidden" id="2022S" style="flex-grow: 0">
                    <button id="btn1F", onclick="handleLoadRequest(this.id)">Load</button>
                    <div class="semesterHeader hiddable" id="2022SHeader" onclick="hide(this.id)">
                        <span>2022S</span>
                    </div>
                </div>
                <div class="col ml-0 pl-0 pr-0" id="2022F" ondrop="drop(event)" ondragover="allowDrop(event)" >
                    <button id="btn3F", onclick="handleLoadRequest(this.id)">Load</button>  
                    <p class="semesterHeader">2022F</p>
                {% for i in range(len(courses)) %}
                {% if courses[i].semester == "3F" %}
                    <div class="{{ courses[i]['course_code'].split()[0].lower() }}" id="{{ courses[i]['course_code'].split()[0].lower() ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ courses[i]['course_code'] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ courses[i]['course_title'] }}</p>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="col ml-0 pl-0 pr-0" id="2023W" ondrop="drop(event)" ondragover="allowDrop(event)" style="flex-grow: 0">
                    <button id="btn3W", onclick="handleLoadRequest(this.id)">Load</button>
                    <p class="semesterHeader">2023W</p>
                {% for i in range(len(courses)) %}
                {% if courses[i].semester == "3W" %}
                    <div class="{{ courses[i]['course_code'].split()[0].lower() }}" id="{{ courses[i]['course_code'].split()[0].lower() ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ courses[i]['course_code'] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ courses[i]['course_title'] }}</p>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="col ml-0 hidden" id="2023S" style="flex-grow: 0">
                    <button id="btn1F", onclick="handleLoadRequest(this.id)">Load</button>
                    <div class="semesterHeader hiddable" id="2023SHeader" onclick="hide(this.id)">
                        <span>2023S</span>
                    </div>
                </div>
                <div class="col ml-0 pl-0 pr-0" id="2023F" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <button id="btn4F", onclick="handleLoadRequest(this.id)">Load</button> 
                    <p class="semesterHeader">2023F</p>
                {% for i in range(len(courses)) %}
                {% if courses[i].semester == "4F" %}
                    <div class="{{ courses[i]['course_code'].split()[0].lower() }}" id="{{ courses[i]['course_code'].split()[0].lower() ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ courses[i]['course_code'] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ courses[i]['course_title'] }}</p>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="col ml-0 pl-0 pr-0" id="2024W" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <button id="btn4W", onclick="handleLoadRequest(this.id)">Load</button>    
                    <p class="semesterHeader">2024W</p>
                {% for i in range(len(courses)) %}
                {% if courses[i].semester == "4W" %}
                    <div class="{{ courses[i]['course_code'].split()[0].lower() }}" id="{{ courses[i]['course_code'].split()[0].lower() ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ courses[i]['course_code'] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ courses[i]['course_title'] }}</p>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="closed" id="infoBox">
            <h4></h4>
            <button class="closer" onclick="removeInfo()">X</button>
        </div>
    </body>
    <script>
        const program = "{{ title }}"; // USE THIS TO KNOW WHAT PROGRAM
        
        const BASIC_SCI = "Basic Science Elective";
        const COMPLEMENTARY = "Complementary Studies Elective";
        
        const cseElectives = {
            basicScience: [
                {course: "BIOL 1103", semester: "Fall", added: false},
                {course: "BIOL 2107", semester: "Winter", added: false},
                {course: "CHEM 2207", semester: "Fall", added: false},
                {course: "PHYS 1001", semester: "Fall", added: false},
                {course: "PHYS 2202", semester: "Winter", added: false}
            ],            
            complemetary: [
                {course: "AFRI 1002", semester: "Winter", added: false},
                {course: "ARTH 2107", semester: "Fall", added: false},
                {course: "CLCV 2104", semester: "Winter", added: false},
                {course: "CLCV 2304", semester: "Winter", added: false},
                {course: "ENGL 2012", semester: "Fall", added: false}
            ], 
            engineering: [
                {course: "", semester: "", added: false}
            ]
        };
        
        const seElectives = {
            basicScience: [
                {course: "", semester: "", added: false}
            ],            
            complemetary: [
                {course: "", semester: "", added: false}
            ], 
            engineering: [
                {course: "", semester: "", added: false}
            ]
        };
        
        const beeElectives = {
            science: [
                {course: "", semester: "", added: false}
            ],            
            complemetary: [
                {course: "", semester: "", added: false}
            ], 
            engineering: [
                {course: "", semester: "", added: false}
            ]
        };
        
        const commEngElectives = {
            basicScience: [
                {course: "", semester: "", added: false}
            ],            
            complemetary: [
                {course: "", semester: "", added: false}
            ], 
            engineering: [
                {course: "", semester: "", added: false}
            ]
        };
        
        var elctvBoxSelected;
        
        function displayInfo(id) {
            let infoBox = document.getElementById("infoBox");
            
            if (infoBox.className == "closed") {
                infoBox.className = "col-4 border border-success rounded-left";  
                
                elctvBoxSelected = document.getElementById(id);
                let currBox = elctvBoxSelected;
                let contents = currBox.children;
                
                if (contents[1].innerHTML == BASIC_SCI) updateInfoBox(cseElectives.basicScience, BASIC_SCI);
                else if (contents[1].innerHTML == COMPLEMENTARY) updateInfoBox(cseElectives.complemetary, COMPLEMENTARY);  
                else {
                    infoBox.children[0].innerHTML = contents[0].innerHTML;
                    
                    const span1 = document.createElement("span");
                    const span2 = document.createElement("span");
                    
                    const description = document.createElement("p");
                    const schedule = document.createElement("p");
                    
                    const text1 = document.createTextNode(contents[1].innerHTML);
                    const text2 = document.createTextNode(" 2 lectures per week. 1 lab biweekly.")
                    
                    const bold = document.createElement("b");
                    const bold_text = document.createTextNode("Schedule:");
                    bold.appendChild(bold_text);
                    
                    description.appendChild(text1);
                    schedule.appendChild(bold);
                    schedule.appendChild(text2);
                    
                    span1.appendChild(description);
                    span1.className = "row p-1 ml-1";
                    
                    span2.appendChild(schedule);
                    span2.className = "row p-1 ml-1";
                    
                    infoBox.appendChild(span1); 
                    infoBox.appendChild(span2); 
                }
            }
        }
        
        function updateInfoBox(elctvObjects, electiveTitle) {
            infoBox.children[0].innerHTML = electiveTitle;
            
            for (let i = 0; i < elctvObjects.length; ++i) {
                const element = document.createElement("span");
                element.className = "row p-1";
                
                const button = document.createElement("button");
                
                if (elctvBoxSelected.children[0].children[0].innerHTML == elctvObjects[i].course) { // maybe make these variables since theyre used again
                    button.className = "selected";
                    button.innerHTML = "SELECTED";
                }
                else {
                    button.className = "inserter";
                    button.innerHTML = "INSERT";
                }
                
                button.onclick = function insertElective() {
                    let courseCode = elctvBoxSelected.children[0].children[0].innerHTML;
                    
                    if (courseCode != this.parentElement.children[0].innerHTML) { // SPAN -> P (Name of elective being selected)
                        
                        for (let j = 0; j < infoBox.children.length; ++j) {
                            if (infoBox.children[j].tagName != "SPAN") continue;
                            
                            if (courseCode == infoBox.children[j].children[0].innerHTML) { // SPAN -> P
                                infoBox.children[j].children[1].className = "inserter"; // SPAN -> BUTTON
                                infoBox.children[j].children[1].innerHTML = "INSERT";
                            }
                        }
                        
                        elctvBoxSelected.children[0].children[0].innerHTML = this.parentElement.children[0].innerHTML;
                        console.log(this.parentElement.children[0].innerHTML);
                        
                        this.className = "selected";
                        this.innerHTML = "SELECTED";                       
                    }
                    else {
                        elctvBoxSelected.children[0].children[0].innerHTML = "Elective";   
                        this.className = "inserter";
                        this.innerHTML = "INSERT";      
                    }
                }
                        
                const name_of_course = document.createElement("p");
                const text = document.createTextNode(elctvObjects[i].course);
                
                name_of_course.appendChild(text);  
                element.appendChild(name_of_course);
                element.appendChild(button);
                infoBox.appendChild(element);
            }
        }
        
        function removeInfo() {
            let infoBox = document.getElementById("infoBox");
        
            infoBox.className = "closed"
                
            for (let i = infoBox.children.length - 1; i > -1; --i) {
                if (infoBox.children[i].tagName == 'SPAN') infoBox.removeChild(infoBox.children[i]);
            }
        }
        
        function hide(id) {
            console.log(id.split("Header")[0]);
            let currentElement = document.getElementById(id);
            let column = document.getElementById(id.split("Header")[0]);
            // let column = currentElement.nextSibling;
            
            if (column.children.length > 2) {
                alert("Cannot hide non-empty column");
                return;
            }
            
            if (column.className.split(' ').length == 2) {
                column.className += " hidden"
                column.ondrop = null;
                column.ondragover = null;
            }
            else if (column.className.split(' ').length == 3) {
                let classStr = column.className;
                column.className = classStr.split(' ')[0] + " " + classStr.split(' ')[1];
                
                column.ondrop = function drop(ev) {
                    ev.preventDefault();
                    var data = ev.dataTransfer.getData("text");
                    ev.target.appendChild(document.getElementById(data));
                }
                
                column.ondragover = function allowDrop(ev) {
                    ev.preventDefault();
                }
            }
        }
        
        function modifyBox(id) {  
            let currBox = document.getElementById(id);
            
            if (currBox.style.opacity == 1) currBox.style.opacity = 0.2;
            else currBox.style.opacity = 1;
        }
        
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
        
        function handleLoadRequest(id) {
            let currentElement = document.getElementById(id);
            let parentColumn = currentElement.parentElement;
            let siblings = parentColumn.children;
            const courseCodes = [];
            const termData = {course_codes: []};
            console.log(currentElement.tagName);
            
            for (let i = 0; i < siblings.length; ++i) {
                let sibling = siblings[i];
                
                if (sibling.tagName != 'DIV') {
                    if (sibling.tagName == 'P') {
                        if (sibling.innerHTML[4] == 'W') termData.semester = "Winter";
                        else if (sibling.innerHTML[4] == 'F') termData.semester = "Fall";
                    }
                    continue;
                }
                if (sibling.style.opacity == 1) { 
                    courseCodes.push(sibling.children[0].children[0].innerHTML);
                }
            }
            
            termData.course_codes = courseCodes;
            console.log(termData);
            termJson = JSON.stringify(termData);
            
            $.ajax({
                url: '/handle_input',
                type: 'get',
                contentType: 'application/json',
                data: {'term_data': termJson},
                success: function(data) {
                    console.log(data.url);
                    window.location.replace(data.url);
                },
                error: function(error){
                  console.log('Error');
                  console.log(error);
                }
            });
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>