<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Degree Program Portal</title>
        <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">       
    </head> 
    <script>
        {% if not in_order_load %}
        if ((window.localStorage.getItem("program") == null) ||
            (window.localStorage.getItem("startYear") == null) ||
            (window.localStorage.getItem("savedTree") == null))
        {
            window.location.replace("../select_program");
        }
        {% endif %}
    </script>
    <body>  
        <div class="col-12" id="mainContent">
            <div class="row">
                <div class="col-4"><h4>{{ title }}</h4></div>
                <div class="col-3"></div>
                <div class="col-1">
                    <div class="row">
                        <div class="circle" style="background-color: red" onclick="deleteColumn()">-</div>
                        <div class="circle" style="background-color: green" onclick="addColumn()">+</div>
                    </div>                   
                </div>
                <div class="col-3"></div>
                <div class="col-1">
                    <div class="row controls">
                        <a href="../select_program">Reset</a>
                        <p><pre> | </pre></p>
                        <p onclick="handleSaveRequest()">Save</p>
                    </div> 
                </div>
            </div>
            <br>    
            <div class="row" style="margin-left: 1vw; margin-right: 1vw;">
                <div class="col ml-0 pl-0 pr-0" id="1F" ondrop="drop(event)" ondragover="allowDrop(event)">   
                    <button id="btn1F", style="visibility: hidden;">Load</button>
                    <select id="startYearSelect" onchange="reloadStartYear()">
                        <option value="2018">2018F</option>
                        <option value="2019">2019F</option>
                        <option value="2020">2020F</option>
                        <option value="2021">2021F</option>
                        <option value="2022">2022F</option>
                        <option value="2023">2023F</option>
                    </select>
                {% for i in range(len(mainline[0])) %}
                    <div class="{{ resolution(mainline[0][i])[0].split()[0].lower() }}" id="{{ resolution(mainline[0][i])[0].split()[0].lower() ~ '0' ~str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ resolution(mainline[0][i])[0] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ resolution(mainline[0][i])[1] }}</p>
                    </div>
                {% endfor %}
                </div>
                <div class="col ml-0 pl-0 pr-0" id="1W" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <button id="btn1W", style="visibility: hidden;">Load</button>
                    <p class="semesterHeader">2021W</p>  
                {% for i in range(len(mainline[1])) %}
                    <div class="{{ resolution(mainline[1][i])[0].split()[0].lower() }}" id="{{ resolution(mainline[1][i])[0].split()[0].lower() ~ '1' ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ resolution(mainline[1][i])[0] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ resolution(mainline[1][i])[1] }}</p>
                    </div>
                {% endfor %}
                </div>           
                <div class="col ml-0 hidden" id="1S" style="flex-grow: 0">
                    <button id="btn1S", onclick="handleLoadRequest(this.id)">Load</button>
                    <div class="semesterHeader hiddable" id="1SHeader" onclick="hide(this.id)">
                        <span>2021S</span>
                    </div>            
                </div>
                <div class="col ml-0 pl-0 pr-0" id="2F" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <button id="btn2F", onclick="handleLoadRequest(this.id)">Load</button>
                    <p class="semesterHeader">2021F</p>
                {% for i in range(len(mainline[2])) %}
                    <div class="{{ resolution(mainline[2][i])[0].split()[0].lower() }}" id="{{ resolution(mainline[2][i])[0].split()[0].lower() ~ '2' ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ resolution(mainline[2][i])[0] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ resolution(mainline[2][i])[1] }}</p>
                    </div>
                {% endfor %}
                </div>
                <div class="col ml-0 pl-0 pr-0" id="2W" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <button id="btn2W", onclick="handleLoadRequest(this.id)">Load</button>
                    <p class="semesterHeader">2022W</p>                
                {% for i in range(len(mainline[3])) %}
                    <div class="{{ resolution(mainline[3][i])[0].split()[0].lower() }}" id="{{ resolution(mainline[3][i])[0].split()[0].lower() ~ '3' ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ resolution(mainline[3][i])[0] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ resolution(mainline[3][i])[1] }}</p>
                    </div>
                {% endfor %}
                </div>
                <div class="col ml-0 hidden" id="2S" style="flex-grow: 0">
                    <button id="btn2S", onclick="handleLoadRequest(this.id)">Load</button>
                    <div class="semesterHeader hiddable" id="2SHeader" onclick="hide(this.id)">
                        <span>2022S</span>
                    </div>
                </div>
                <div class="col ml-0 pl-0 pr-0" id="3F" ondrop="drop(event)" ondragover="allowDrop(event)" >
                    <button id="btn3F", onclick="handleLoadRequest(this.id)">Load</button>  
                    <p class="semesterHeader">2022F</p>
                {% for i in range(len(mainline[4])) %}
                    <div class="{{ resolution(mainline[4][i])[0].split()[0].lower() }}" id="{{ resolution(mainline[4][i])[0].split()[0].lower() ~ '4' ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ resolution(mainline[4][i])[0] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ resolution(mainline[4][i])[1] }}</p>
                    </div>
                {% endfor %}
                </div>
                <div class="col ml-0 pl-0 pr-0" id="3W" ondrop="drop(event)" ondragover="allowDrop(event)" style="flex-grow: 0">
                    <button id="btn3W", onclick="handleLoadRequest(this.id)">Load</button>
                    <p class="semesterHeader">2023W</p>
                {% for i in range(len(mainline[5])) %}
                    <div class="{{ resolution(mainline[5][i])[0].split()[0].lower() }}" id="{{ resolution(mainline[5][i])[0].split()[0].lower() ~ '5' ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ resolution(mainline[5][i])[0] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ resolution(mainline[5][i])[1] }}</p>
                    </div>
                {% endfor %}
                </div>
                <div class="col ml-0 hidden" id="3S" style="flex-grow: 0">
                    <button id="btn3S", onclick="handleLoadRequest(this.id)">Load</button>
                    <div class="semesterHeader hiddable" id="3SHeader" onclick="hide(this.id)">
                        <span>2023S</span>
                    </div>
                </div>
                <div class="col ml-0 pl-0 pr-0" id="4F" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <button id="btn4F", onclick="handleLoadRequest(this.id)">Load</button> 
                    <p class="semesterHeader">2023F</p>
                {% for i in range(len(mainline[6])) %}
                    <div class="{{ resolution(mainline[6][i])[0].split()[0].lower() }}" id="{{ resolution(mainline[6][i])[0].split()[0].lower() ~ '6' ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ resolution(mainline[6][i])[0] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ resolution(mainline[6][i])[1] }}</p>
                    </div>
                {% endfor %}
                </div>
                <div class="col ml-0 pl-0 pr-0" id="4W" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <button id="btn4W", onclick="handleLoadRequest(this.id)">Load</button>    
                    <p class="semesterHeader">2024W</p>
                {% for i in range(len(mainline[7])) %}
                    <div class="{{ resolution(mainline[7][i])[0].split()[0].lower() }}" id="{{ resolution(mainline[7][i])[0].split()[0].lower() ~ '7' ~ str(i)}}" style="opacity: 1;" draggable="true" ondragstart="drag(event)" onclick="displayInfo(this.id)">
                        <p><strong>{{ resolution(mainline[7][i])[0] }}</strong></p>
                        <p style="font-size: 6.5pt">{{ resolution(mainline[7][i])[1] }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="closed" id="infoBox" style="height: 100%; overflow-y: scroll; position: fixed">
            <h4></h4>
            <button class="closer" onclick="removeInfo()">X</button>
        </div>
    </body>
    <script>        
    {% if in_order_load %}
        const program = "{{ title }}"; 
        const startYear = "{{ start_year }}";
        const mainline = [
            {% for i in range(len(mainline))%}
            {% for j in range(len(mainline) - 1)%}
                "{{ mainline[i][j] }}",
            {% endfor %}
            {% endfor %}
        ];
    {% else %} 
        const program = window.localStorage.getItem("program"); 
        const startYear = window.localStorage.getItem("startYear");

        const mainline = JSON.parse(window.localStorage.getItem("savedTree"));
        
        console.log(mainline.length);
    {% endif %}
        
        const courseInfo = {
            {% for i in range(len(keys)) %}
            "{{ keys[i] }}": {
                title: "{{ courses[keys[i]]['course_title'] }}", 
                schedule: "{{ courses[keys[i]]['schedule'] }}", 
                preclusions: [
                {% for j in range(len(courses[keys[i]]['preclusions']) - 1) %}
                    "{{ courses[keys[i]]['preclusions'][j] }}",
                {% endfor %}
                    "{{ courses[keys[i]]['preclusions'][-1] }}"
                ]
            },
            {% endfor %}  
        };
        
        const specialInfo = {
            "basicScience": [
                {
                    "course_code": "BIOL 1010", 
                    "course_title": "Biotechnology and Society", 
                    "semester": "Fall"
                },
                {
                    "course_code": "BIOL 1103", 
                    "course_title": "Foundations of Biology I", 
                    "semester": "Fall"
                },
                {
                    "course_code": "BIOL 1104", 
                    "course_title": "Foundations of Biology II", 
                    "semester": "Winter"
                },
                {
                    "course_code": "BIOL 1902", 
                    "course_title": "Natural History", 
                    "semester": "Both"
                },
                {
                    "course_code": "BIOL 2107", 
                    "course_title": "Fundamentals of Genetics", 
                    "semester": "Winter"
                },
                {
                    "course_code": "BIOL 2201", 
                    "course_title": "Cell Biology and Biochemistry", 
                    "semester": "Fall"
                },
                {
                    "course_code": "BIOL 2303", 
                    "course_title": "Microbiology", 
                    "semester": "Winter"
                },
                {
                    "course_code": "BIOL 2903", 
                    "course_title": "Natural History and Ecology of Ontario", 
                    "semester": "Winter"
                },
                {
                    "course_code": "CHEM 2207", 
                    "course_title": " Introduction to Organic Chemistry I", 
                    "semester": "Fall"
                },
                {
                    "course_code": "CHEM 2208", 
                    "course_title": " Introduction to Organic Chemistry II", 
                    "semester": "Winter"
                },
                {
                    "course_code": "CHEM 2302", 
                    "course_title": " Analytical Chemistry I", 
                    "semester": "Fall"
                },
                {
                    "course_code": "CHEM 2501", 
                    "course_title": "Introduction to Inorganic and Bioinorganic Chemistry", 
                    "semester": "Winter"
                },
                {
                    "course_code": "CHEM 2800", 
                    "course_title": " Foundations for Environmental Chemistry", 
                    "semester": "Winter"
                },
                {
                    "course_code": "ENSC 2001", 
                    "course_title": "Earth Resources and Natural Hazards: Environmental Impacts", 
                    "semester": "Winter"
                },
                {
                    "course_code": "ERTH 1010", 
                    "course_title": "Our Dynamic Planet Earth", 
                    "semester": "Fall"
                },
                {
                    "course_code": "ERTH 1011", 
                    "course_title": "Evolution of the Earth", 
                    "semester": "Winter"
                },
                {
                    "course_code": "ERTH 2401", 
                    "course_title": "Dinosaurs", 
                    "semester": "Fall"
                },
                {
                    "course_code": "ERTH 2415", 
                    "course_title": "Natural Disasters", 
                    "semester": "Both"
                },
                {
                    "course_code": "ERTH 2419", 
                    "course_title": "On the Origin of Planets", 
                    "semester": "Winter"
                },
                {
                    "course_code": "GEOG 1010", 
                    "course_title": "Global Environmental Systems", 
                    "semester": "Both"
                },
                {
                    "course_code": "GEOG 2013", 
                    "course_title": "Weather and Water", 
                    "semester": "Winter"
                },
                {
                    "course_code": "GEOG 2014", 
                    "course_title": "The Earth's Surface", 
                    "semester": "Fall"
                },
                {
                    "course_code": "GEOG 2020", 
                    "course_title": "Ecosystems of Canada", 
                    "semester": "Winter"
                },
                {
                    "course_code": "NEUR 1202", 
                    "course_title": "Neuroscience of Mental Health and Psychiatric Disease", 
                    "semester": "Both"
                },
                {
                    "course_code": "NEUR 2201", 
                    "course_title": "Cellular and Molecular Neuroscience", 
                    "semester": "Fall"
                },
                {
                    "course_code": "PHYS 1001", 
                    "course_title": "Foundations of Physics I", 
                    "semester": "Fall"
                },
                {
                    "course_code": "PHYS 1003", 
                    "course_title": "Introductory Mechanics and Thermodynamics", 
                    "semester": "Fall"
                },
                {
                    "course_code": "PHYS 2004", 
                    "course_title": "Modern Physics for Engineers", 
                    "semester": "Fall"
                },
                {
                    "course_code": "PHYS 2202", 
                    "course_title": "Wave Motion and Optics", 
                    "semester": "Winter"
                },
                {
                    "course_code": "PHYS 2305", 
                    "course_title": "Electricity and Magnetism", 
                    "semester": "Winter"
                },
                {
                    "course_code": "PHYS 2401", 
                    "course_title": "Thermal Physics", 
                    "semester": "Fall"
                }
            ],
            "complemetary": [
                {
                    "course_code": "AFRI 1002", 
                    "course_title": "Introduction to African Studies II", 
                    "semester": "Winter"
                },
                {
                    "course_code": "AFRI 2002", 
                    "course_title": "The Horn of Africa", 
                    "semester": "Winter"
                },
                {
                    "course_code": "AFRI 2005", 
                    "course_title": "West Africa", 
                    "semester": "Fall"
                },
                {
                    "course_code": "ALDS 2604", 
                    "course_title": "Communication Differences and Disabilities I", 
                    "semester": "Both"
                },
                {
                    "course_code": "ANTH 2850", 
                    "course_title": "Anthropology of Development", 
                    "semester": "Both"
                },
                {
                    "course_code": "ARCY 1009", 
                    "course_title": "Introduction to Archaeology II", 
                    "semester": "Winter"
                },
                {
                    "course_code": "ARTH 1100", 
                    "course_title": "Art and Society: Prehistory to the Renaissance", 
                    "semester": "Fall"
                },
                {
                    "course_code": "ARTH 1101", 
                    "course_title": "Art and Society: Renaissance to the Present", 
                    "semester": "Winter"
                },
                {
                    "course_code": "ARTH 1200", 
                    "course_title": "History & Theory of Architecture: Prehistory to 1500", 
                    "semester": "Fall"
                },
                {
                    "course_code": "ARTH 1201", 
                    "course_title": "History & Theory of Architecture: 1500 to Present", 
                    "semester": "Winter"
                },
                {
                    "course_code": "ARTH 2003", 
                    "course_title": "Twentieth-Century Art in Canada", 
                    "semester": "Fall"
                },
                {
                    "course_code": "ARTH 2005", 
                    "course_title": "Arts of the First Peoples: The Woodlands, the Plains, and the Subarctic", 
                    "semester": "Fall"
                },
                {
                    "course_code": "ARTH 2105", 
                    "course_title": "Roman Art and Archaeology", 
                    "semester": "Winter"
                },
                {
                    "course_code": "ARTH 2310", 
                    "course_title": "Architecture of the Early Modern World", 
                    "semester": "Fall"
                },
                {
                    "course_code": "ARTH 2601", 
                    "course_title": "History and Theory of Photography", 
                    "semester": "Winter"
                },
                {
                    "course_code": "CHST 2011", 
                    "course_title": "Children's Literature", 
                    "semester": "Fall"
                },
                {
                    "course_code": "CLCV 2008", 
                    "course_title": "Greek and Roman Epic", 
                    "semester": "Fall"
                },
                {
                    "course_code": "CLCV 2103", 
                    "course_title": "Greek Religion", 
                    "semester": "Fall"
                },
                {
                    "course_code": "CLCV 2104", 
                    "course_title": "Roman Religion", 
                    "semester": "Winter"
                },
                {
                    "course_code": "CLCV 2902", 
                    "course_title": "Origins of the Greeks", 
                    "semester": "Fall"
                },
                {
                    "course_code": "CLCV 2903", 
                    "course_title": "Democracy to Alexander", 
                    "semester": "Winter"
                },
                {
                    "course_code": "ENGL 1300", 
                    "course_title": "Literature, Psychology, and the Mind", 
                    "semester": "Winter"
                },
                {
                    "course_code": "ENGL 1400", 
                    "course_title": "Literature, Art, and Culture", 
                    "semester": "Fall"
                },
                {
                    "course_code": "ENGL 1609", 
                    "course_title": "Introduction to Drama Studies", 
                    "semester": "Fall"
                }
            ],
            "computerScience": [],
            "science": []
        };
        
        const electiveReqs = [
            {% for i in range(len(elctv_data)) %}
            {
                totalNumNeeded: {{ elctv_data[i]["total_num_needed"] }}, 
                totalCount: 0,
                reqData: [
                    {% for j in range(len(elctv_data[i]["req_data"])) %}
                    {
                        type: "{{ elctv_data[i]["req_data"][j]["type"] }}",
                        {% if elctv_data[i]["req_data"][j]["type"] == "general" %}
                        code: /{{ elctv_data[i]["req_data"][j]["code"] }}/g,
                        {% else %}
                        code: "{{ elctv_data[i]["req_data"][j]["code"] }}",
                        {% endif %}
                        count: 0,
                        maxNeeded: {{ elctv_data[i]["req_data"][j]["max_needed"] }}
                    },
                    {% endfor %}
                ]
            },
            {% endfor %}
        ]
        
        const elctvTitles = {
            "BASICSCI": "Basic Science Elective",
            "COMPLSTD": "Complementary Studies Elective",
            "SCIELCTV": "Science Elective",
            "BIOELCTV": "Biomedical Engineering Elective",
            "ENGELCTV": "Engineering Elective"
        }

        // REFACTOR  
        //    |
        //    v
        
        const BASIC_SCI = "Basic Science Elective";
        const COMPLEMENTARY = "Complementary Studies Elective";
        const ENGINEERING = "Engineering Elective"
        
        var elctvBoxSelected;
        var endYear;
        var numOfAddedColumns = 0;
        
    {% if not in_order_load %}
        document.getElementById("mainContent").children[0].children[0].innerHTML = "<h4>" + program + "</h4>";
        loadSavedTree(JSON.parse(window.localStorage.getItem("savedTree")));
    {% endif %}
        console.log(JSON.parse(window.localStorage.getItem("savedTree")));
        console.log(startYear);
        loadStartYear(startYear);

        function displayInfo(id) {
            let infoBox = document.getElementById("infoBox");
            
            if (infoBox.className == "closed") {
                infoBox.className = "col-4 border border-success rounded-left";  
                                
                elctvBoxSelected = document.getElementById(id);
                let currBox = elctvBoxSelected;
                
                console.log(id);
                
                let contents = currBox.children;
                                
                if (contents[1].innerHTML == BASIC_SCI) updateInfoBox("basicScience", BASIC_SCI);
                else if (contents[1].innerHTML == COMPLEMENTARY) updateInfoBox("complemetary", COMPLEMENTARY);  
                else if (contents[1].innerHTML == ENGINEERING) specificUpdate();  
                else {
                    infoBox.children[0].innerHTML = contents[0].innerHTML;
                    
                    const span1 = document.createElement("span");
                    const span2 = document.createElement("span");
                    const span3 = document.createElement("span");
                    
                    const description = document.createElement("p");
                    const schedule = document.createElement("p");
                    const preclusions = document.createElement("p");
                                        
                    const text1 = document.createTextNode(contents[1].textContent);
                    const text2 = document.createTextNode(" " + courseInfo[contents[0].textContent].schedule); // Format wanted: 2 lectures per week. 1 lab biweekly.
                    const text3 = document.createTextNode(" " + courseInfo[contents[0].textContent].preclusions.join(", "));

                    const bold1 = document.createElement("b");
                    const bold_text1 = document.createTextNode("Schedule:");
                    bold1.appendChild(bold_text1);
                    
                    const bold2 = document.createElement("b");
                    const bold_text2 = document.createTextNode("Preclusions:");
                    bold2.appendChild(bold_text2);
                    
                    description.appendChild(text1);
                    
                    schedule.appendChild(bold1);
                    schedule.appendChild(text2);
                    
                    preclusions.appendChild(bold2);
                    preclusions.appendChild(text3);
                    
                    span1.appendChild(description);
                    span1.className = "row p-1 ml-1";
                    
                    span2.appendChild(schedule);
                    span2.className = "row p-1 ml-1";
                    
                    span3.appendChild(preclusions);
                    span3.className = "row p-1 ml-1";
                    
                    infoBox.appendChild(span1); 
                    infoBox.appendChild(span2); 
                    infoBox.appendChild(span3); 
                }
            }
        }
        
        function update(someObject, i, j)  {
            for (let k = 0; k < someObject.length - 3; k = k + 2) {
                const twoColumns = document.createElement("div");
                twoColumns.className = "col-12";
                
                const element1 = document.createElement("div");
                element1.className = "row";
                
                const button1 = document.createElement("button");
                
                let stringToAdd1;
                
                if (someObject[k]["course_code"]) stringToAdd1 = someObject[k]["course_code"];
                else stringToAdd1 = someObject[k];
                                
                if (elctvBoxSelected.children[0].children[0].innerHTML == stringToAdd1) { // maybe make these variables since theyre used again
                    button1.className = "selected";
                    button1.innerHTML = "SELECTED";
                }
                else {
                    button1.className = "inserter";
                    button1.innerHTML = "INSERT";
                }
                
                button1.onclick = () => {
                    if ((i != null) && (j != null)) {
                        electiveReqs[i].reqData[j].count++;
                        electiveReqs[i].totalCount++;
                    }
                    insertElective(element1);    
                }

                const element2 = document.createElement("div");
                element2.className = "row";
                
                const button2 = document.createElement("button");
                // element2.className = "col-6 h-5";

                let stringToAdd2;
                
                if (someObject[k + 1]["course_code"]) stringToAdd2 = someObject[k + 1]["course_code"];
                else stringToAdd2 = someObject[k + 1];
                                
                if (elctvBoxSelected.children[0].children[0].innerHTML == stringToAdd2) { // maybe make these variables since theyre used again
                    button2.className = "selected";
                    button2.innerHTML = "SELECTED";
                }
                else {
                    button2.className = "inserter";
                    button2.innerHTML = "INSERT";
                }
                
                button2.onclick = () => {
                    if ((i != null) && (j != null)) {
                        electiveReqs[i].reqData[j].count++;
                        electiveReqs[i].totalCount++;
                    }
                    insertElective(element2);    
                }
                        
                const nameOfCourse1 = document.createElement("p");
                nameOfCourse1.className = "col-3";
                nameOfCourse1.style.fontSize = "10pt";
                const text1 = document.createTextNode(stringToAdd1);
                
                const nameOfCourse2 = document.createElement("p");
                nameOfCourse2.className = "col-3";
                nameOfCourse2.style.fontSize = "10pt";
                const text2 = document.createTextNode(stringToAdd2);
                
                nameOfCourse1.appendChild(text1);  
                element1.appendChild(nameOfCourse1);
                element1.appendChild(button1);
                
                nameOfCourse2.appendChild(text2);  
                element1.appendChild(nameOfCourse2);
                element1.appendChild(button2);
                
                // twoColumns.appendChild(element1);
                // twoColumns.appendChild(element2);
                
                infoBox.appendChild(element1);
            }
        }
        
        function specificUpdate() {
            infoBox.children[0].innerHTML = ENGINEERING;
            
            for (let i = 0; i < electiveReqs.length; ++i) {
                var totalNumberNeeded =  electiveReqs[i].totalNumNeeded;
                let button;
                
                if (electiveReqs[i].totalCount == electiveReqs[i].totalNumNeeded) continue;
                
                for (let j = 0; j < electiveReqs[i].reqData.length; ++j) {
                    if (electiveReqs[i].reqData[j].count == electiveReqs[i].reqData[j].maxNeeded) continue;
                    
                    if (electiveReqs[i].reqData[j].type == "specific") {
                        const obj = electiveReqs[i].reqData[j].code.split(", ");
                        
                        update(obj, i, j); 
                    }
                    else if (electiveReqs[i].reqData[j].type == "list") {
                        const obj = specialInfo[electiveReqs[i].reqData[j].code];
                        
                        update(obj, i, j); 
                    }
                    else if (electiveReqs[i].reqData[j].type == "general") {
                        const pattern = electiveReqs[i].reqData[j].code; 
                        const obj = [];
                        const currArray = Object.keys(courseInfo);
                        
                        for (code of currArray) {
                            if (pattern.test(code) && !(mainline.includes(code))) obj.push(code);
                        }
                                                
                        update(obj, i, j); 
                    }   

                }
                
                if (i < electiveReqs.length - 1) {
                    infoBox.appendChild(document.createElement("br"));
                    infoBox.appendChild(document.createElement("hr"));
                    infoBox.appendChild(document.createElement("br"));
                }
            }
        }
        
        function updateInfoBox(elctvType, electiveTitle) {
            infoBox.children[0].innerHTML = electiveTitle;
            update(specialInfo[elctvType]);
        }
        
        function removeInfo() {
            let infoBox = document.getElementById("infoBox");
        
            infoBox.className = "closed"
                
            for (let i = infoBox.children.length - 1; i > -1; --i) {
                if ((infoBox.children[i].tagName == 'DIV') || (infoBox.children[i].tagName == 'SPAN') 
                    || (infoBox.children[i].tagName == 'BR') || (infoBox.children[i].tagName == 'HR')) infoBox.removeChild(infoBox.children[i]);
            }
        }
        
        function insertElective(element) {
            let courseCode = elctvBoxSelected.children[0].children[0].innerHTML;
            
            if (courseCode != element.firstChild.innerHTML) { // DIV -> P (Name of elective being selected)
                
                for (let j = 0; j < infoBox.children.length; ++j) {
                    if (infoBox.children[j].tagName != "DIV") continue;
                    
                    if (courseCode == infoBox.children[j].children[0].innerHTML) { // DIV -> P
                        infoBox.children[j].children[1].className = "inserter"; // DIV -> BUTTON
                        infoBox.children[j].children[1].innerHTML = "INSERT";
                    }
                }
                
                elctvBoxSelected.children[0].children[0].innerHTML = element.firstChild.innerHTML;
                console.log(element.firstChild.innerHTML);
                
                element.children[1].className = "selected";
                element.children[1].innerHTML = "SELECTED";                       
            }
            else {
                elctvBoxSelected.children[0].children[0].innerHTML = "Elective";   
                element.children[1].className = "inserter";
                element.children[1].innerHTML = "INSERT";      
            }
        }
        
        function addColumn() {
            const rowOfSemesters = document.getElementById("mainContent").children[2]; 
            const newEmptyColumn = document.createElement("div");
            const button = document.createElement("button");
            const header = document.createElement("div");

            console.log(rowOfSemesters.lastElementChild);
            
            endYear = getNextString(rowOfSemesters.lastElementChild.children[1].textContent);
            
            newEmptyColumn.id = endYear;
            newEmptyColumn.className = "col ml-0 hidden";
            
            button.id = "btn" + endYear;
            button.textContent = "Load";
            header.id = endYear + "Header";
            header.className = "semesterHeader hiddable";
            header.innerHTML = "<span>" + endYear + "</span>";

            newEmptyColumn.appendChild(button);
            newEmptyColumn.appendChild(header);
            rowOfSemesters.appendChild(newEmptyColumn);
            
            button.onclick = () => {
                handleLoadRequest(button.id);
            }
            header.onclick = () => {
                hide(header.id);
            }
            
            numOfAddedColumns++;
        }
        
        function deleteColumn() {            
            if (numOfAddedColumns > 0) {
                const rowOfSemesters = document.getElementById("mainContent").children[2];
                                
                if (rowOfSemesters.lastElementChild.children.length > 2) return;
                
                rowOfSemesters.removeChild(rowOfSemesters.lastElementChild);
                endYear = rowOfSemesters.lastElementChild.children[1].textContent;
                numOfAddedColumns--;
            }
        }
        
        function hide(id) {
            let currentElement = document.getElementById(id);
            let column = document.getElementById(id.split("Header")[0]);
            
            if (column.children.length > 2) {
                alert("Cannot hide non-empty column");
                return;
            }
            
            if (column.className.split(' ').length == 2) {
                column.className += " hidden"
                column.ondrop = null;
                column.ondragover = null;
            }
            else if (column.className.split(' ').length == 3) {
                let classStr = column.className;
                column.className = classStr.split(' ')[0] + " " + classStr.split(' ')[1];
                
                column.ondrop = function drop(ev) {
                    ev.preventDefault();
                    var data = ev.dataTransfer.getData("text");
                    ev.target.appendChild(document.getElementById(data));
                }
                
                column.ondragover = function allowDrop(ev) {
                    ev.preventDefault();
                }
            }
        }
        
        function modifyBox(id) {  
            let currBox = document.getElementById(id);
            
            if (currBox.style.opacity == 1) currBox.style.opacity = 0.2;
            else currBox.style.opacity = 1;
        }
        
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
            ev.dataTransfer.setData("swap", ev.target.previousElementSibling.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var dragged = ev.dataTransfer.getData("text");
                        
            if (ev.target.tagName != 'DIV') return;
            
            if (ev.target.className == "col ml-0 pl-0 pr-0") ev.target.appendChild(document.getElementById(dragged));
            else {
                var swapSpot = ev.dataTransfer.getData("swap");
                
                ev.target.previousElementSibling.insertAdjacentElement("afterend", document.getElementById(dragged)); 
                document.getElementById(swapSpot).insertAdjacentElement("afterend", ev.target);
                
            }

            scan_reqs();
        }

        function scan_reqs() {
            let container = document.querySelectorAll("#mainContent > div.row")[1];
            let years = [];
            for (const yearRow of container.querySelectorAll("div.col:not(.hidden)")) {
                let yearCourses = [];
                for (const course of yearRow.querySelectorAll(":scope > div[draggable='true']")) {
                    let code = course.querySelector("strong").textContent;
                    console.log(courseInfo[code]);
                }
            }
        }

        function check_reqs(prerequisites, passed, concurrent) {
            if (prerequisites && passed && concurrent) {

                function course_taken(crs) {
                    if (crs && crs[0] == "c") {
                        crs = crs.substring(1);
                        if (passed.includes(crs) || concurrent.includes(crs)) {
                            return true;
                        }
                    } else {
                        if (passed.includes(crs)) {
                            return true;
                        }
                    }
                    return false;
                }

                function evaluate(root) {
                    let missing = [];
                    if (root.data == "&") {
                        for (const child of root.children) {
                            missing = missing.concat(evaluate(child));
                        }
                    } else if (root.data == "|") {
                        let possibly_missing = [];
                        for (const child of root.children) {
                            recurse = evaluate(child);
                            if (recurse.length == 0) {
                                possibly_missing = [];
                                break;
                            } else {
                                possibly_missing = possibly_missing.concat(evaluate(child));
                            }
                        }
                        if (possibly_missing.length == 1) {
                            missing = missing.concat(possibly_missing);
                        } else if (possibly_missing.length > 1) {
                            missing.push(possibly_missing);
                        }
                    } else {
                        if (root.data && !course_taken(root.data)) {
                            let code = root.data;
                            if (code[0] == "c") {
                                code = code.substring(1);
                            }
                            missing.push(code);
                        }
                    }
                    return missing;
                }

                return evaluate(prerequisites);
            }
            return [];
        }
        
        function getNextString(nextString) {
            let nextYear;
            let nextSemester;
            
            currYear = nextString.slice(0, 4);
            currSemester = nextString[4];
            
            if (currSemester == "F") {
                nextYear = Number(currYear) + 1;
                nextSemester = "W";
            }
            else if (currSemester == "W") {
                nextYear = currYear;
                nextSemester = "S";
            }
            else if (currSemester == "S") {
                nextYear = currYear;
                nextSemester = "F";
            }
            
            return nextYear + nextSemester;
        }
        
        function loadStartYear(startYear) {
            const headers = document.getElementsByClassName("semesterHeader");
            let nextString =  (Number(startYear) + 1) + "W";
            
            document.querySelector("option[value='" + startYear +"']").selected = true;
            
            for (let i = 0; headers.length; ++i) {
                headers[i].textContent = nextString;
                
                nextString =  getNextString(nextString);
            }
        }
        
        function reloadStartYear() {
            loadStartYear(Number(document.getElementById("startYearSelect").value));
        }
        
        function loadSavedTree(savedTree) {
            const rowOfSemesters = document.getElementById("mainContent").children[2];
            // TAKE INTO ACCOUNT WHEN savedTree.length > 11
            for (let i = 0; i < savedTree.length; ++i) {
                if (((i + 1) % 3 == 0) && savedTree[i].length > 0) document.getElementById(((i + 1) / 3) + "S").className = "col ml-0";
                
                if (i > 10) {
                    addColumn();
                    
                    if (savedTree[i].length > 0) document.getElementById(endYear).className = "col ml-0";
                }
                
                for (let j = 0; j < savedTree[i].length; ++j) {
                    let currCode = savedTree[i][j];
                    let currCodeLower = currCode.toLowerCase();
                    
                    const div1 = document.createElement("div");
                    const courseCode = document.createElement("p");
                    const courseTitle = document.createElement("p");
                    let text1;
                    let text2;
                                        
                    courseTitle.style.fontSize = "6.5pt";
                    
                    if (currCode.split(" ").length == 2) {
                        courseCode.innerHTML = "<strong>" + currCode + "</strong>";
                        text2 = document.createTextNode(courseInfo[currCode].title);
                        
                        div1.className = currCodeLower.split(" ")[0];
                        div1.id = currCodeLower.split(" ")[0] + i + j;
                    }
                    else {
                        if (currCode.split("_").length == 3) courseCode.innerHTML = "<strong>" + currCode.split("_")[1] + " " + currCode.split("_")[2] + "</strong>";
                        else courseCode.innerHTML = "<strong>Elective</strong>";

                        text2 = document.createTextNode(elctvTitles[currCode.split("_")[0]]);
                        
                        div1.className = "elective";
                        div1.id = "elective" + i + j;
                    }

                    div1.draggable =  true;
                    div1.addEventListener('dragstart', e => {
                        drag(e);
                    });
                    div1.onclick = () => {
                        displayInfo(currCodeLower + i + j);
                    }
                    
                    // courseCode.appendChild(text1);
                    courseTitle.appendChild(text2);
                    div1.appendChild(courseCode);
                    div1.appendChild(courseTitle);
                    rowOfSemesters.children[i].appendChild(div1);
                }   
            }
        }
        
        function resolution(courseCode, courseTitle) {           
            let courseTitleWords = courseTitle.split(" ");
            
            if (courseTitleWords[courseTitleWords.length - 1] == "Elective") {
                let courseCodeWords = courseCode.split(" ");
                
                if (courseCodeWords.length == 1) return Object.keys(elctvTitles).find(key => elctvTitles[key] === courseTitle);
                else if (courseCodeWords.length == 2) {
                    return Object.keys(elctvTitles).find(key => elctvTitles[key] === courseTitle) + "_" + courseCodeWords[0] + "_" + courseCodeWords[1];
                }
            }
            else {
                return courseCode;
            }
        }
        
        function handleSaveRequest() {
            window.localStorage.setItem("program", program);
            window.localStorage.setItem("startYear", startYear);
            
            const newTree = [];
            const rowOfSemesters = document.getElementById("mainContent").children[2];
            
            for (let i = 0; i < rowOfSemesters.children.length; ++i) {  // CHANGE THIS IMPLEMENTATION WHEN I REMOVE THE LOAD BUTTONS
                newTree.push([]);
                for (let j = 2; j < rowOfSemesters.children[i].children.length; ++j) {
                    newTree[i].push(
                        resolution(
                            rowOfSemesters.children[i].children[j].children[0].textContent,
                            rowOfSemesters.children[i].children[j].children[1].textContent
                        ) 
                    );
                }
            }
                        
            window.localStorage.setItem("savedTree", JSON.stringify(newTree));
        }
        
        function handleLoadRequest(id) {
            let currentElement = document.getElementById(id);
            let parentColumn = document.getElementById(id.split("btn")[1])
            console.log(id.split("btn")[1]);
            let siblings = parentColumn.children;
            const courseCodes = [];
            const termData = {course_codes: []};
            console.log(currentElement.tagName);
            
            for (let i = 0; i < siblings.length; ++i) {
                let sibling = siblings[i];
                
                if (sibling.tagName != 'DIV') {
                    if (sibling.tagName == 'P') {
                        if (sibling.innerHTML[4] == 'W') termData.semester = "Winter";
                        else if (sibling.innerHTML[4] == 'F') termData.semester = "Fall";
                    }
                    continue;
                }
                if (sibling.style.opacity == 1) { 
                    courseCodes.push(sibling.children[0].children[0].innerHTML);
                }
            }
            
            termData.course_codes = courseCodes;
            console.log(termData);
            termJson = JSON.stringify(termData);
            
            $.ajax({
                url: '/handle_input',
                type: 'get',
                contentType: 'application/json',
                data: {'term_data': termJson},
                success: function(data) {
                    console.log(data.url);
                    window.open(data.url);
                },
                error: function(error){
                  console.log('Error');
                  console.log(error);
                }
            });
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>